.div {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 3.375rem;
  margin-bottom: 64px;
}

.div .input {
  padding: 16px;
  width: 39.875rem;
  padding: 16px;
  background: var(--gray-500);
  border: 1px solid #0d0d0d;
  border-radius: 8px;

  font-size: 16px;
  line-height: var(--line-height-140);
  color: var(--gray-100);
}

.div .input:focus-within {
  border: 1px solid var(--purple-dark);
}

.div button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 5.625rem;
  height: 3.25rem;
  background: var(--blue-dark);
  border-radius: 8px;
  font-weight: var(--font-weigh-700);
  font-size: 14px;
  line-height: var(--line-height-140);
  color: var(--gray-100);
}

.div button:hover {
  background: var(--blue);
}
