.div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 12px;
  width: 736px;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: var(line-height-140);
  color: var(--gray-100);
}

.div:last-child {
  margin-bottom: 0px;
}

.div button {
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  background: transparent;
}

.div  p {
  width: 632px;
}

.div .trashed {
  text-decoration: line-through;
  color: var(--gray-100);
}

.div .unchecked {
  background-image: url("../assets/uncheck.svg");
  height: 18px;
  width: 18px;
}

.div .checked {
  background-image: url("../assets/check.svg");
  height: 18px;
  width: 18px;
}

.div .unchecked:hover { 
  background-image: url("../assets/uncheck-hover.svg");
}

.div .checked:hover {
  background-image: url("../assets/check-hover.svg");
}


.div .trash {
  background-image: url("../assets/trash.svg");
  height: 24px;
  width: 24px;
}

.div .trash:hover {
  background-image: url("../assets/trash-hover.svg");
}